<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
            <property name="connection.provider">
      NHibernate.Connection.DriverConnectionProvider
    </property>
    <property name="dialect">
        NHibernate.Dialect.PostgreSQLDialect
    </property>
    <property name="connection.driver_class">
      NHibernate.Driver.NpgsqlDriver
    </property>

    <property name="current_session_context_class">
        web
    </property>

      <mapping assembly="ReactChatApp" />
    </session-factory>
  </hibernate-configuration>
  
  <connectionStrings>
    <add name="PostgreSQLDBConnection" connectionString="Server=127.0.0.1;Port=5432;Database=ReactChatApp;
            User Id=postgres;Password='postgres';Integrated Security=True;" providerName="Npgsql" />
  </connectionStrings>
</configuration>
